body{
    background: #E9EEF0;
    color: #184187;
}

header{
    color: #153263;
    font-size: 35px;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 1);
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

main div{
    flex: 1 auto;
    background: #DBD8F0;
    max-width: 150px;
    margin: 80px;
    padding: 30px;
    text-align: center;
}

footer{
    margin: 40px 650px;
    font-size: 20px;
}