<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Todolist</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="title-todo-list">
        <h1>TO-DO LIST</h1>
    </div>

    <form class="edit-task-form">
        <button>done</button>
        <input type="text" name="task" class="task-todo-list"/>
        <button>edit</button>
    </form>

    <img src="../images/add-task.jpg" width="20" height="20" class="add-task"> Add Task
</body>
</html>