<!DOCTYPE html>
<html>

 <head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/style.css">
 </head>

 <body>
    <form class="login">
        <label>
            E-mail <input type= "text" class="login-field" name= "login" size="15">
        </label>
        <label>
            Пароль<input class="login-field" type="password" name="password" size="15">
        </label>
        <label>
               <input type="submit" class="login-button">
        </label>
    </form>
 </body>

</html>