html, body {
    height:100%; 
    width:100%;
}

body {
    background: #D8E9F0;
    color: #1F4E5F;
}

header{
    color: #1F4E5F;
    font-size: 80px;
    letter-spacing: 4px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 1);
    list-style-image: url(../images/flag.png);
}

header img{
    position: absolute;
    top: 10px;
    left: 850px;
}

#today-weather-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px; 
    line-height: 2.0;
    font-size: 25px;
    color: #303841;
}

#today-weather-container div{
    flex: 1 auto; 
    max-width: 150px;
    text-align: center; 
}

#current-weather-box{
    font-size: 20px;
    line-height: 1.5;
    color: #303841;
    margin: 0px 150px 0px 10px;
}

#current-temperature{
    font-size: 35px;
}

#main-current{
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main div{
    flex: 1 auto;
    max-width: 150px;
    margin: 5px 40px;
    padding: 5px;
    text-align: center;
    line-height: 2.0;
    font-size: 20px;
    background: #AACFD0;
}

#icon-current-time img{
    width: 100%;
    height: 100%;
}

#main-week{
    color: #6B0E0E;
    line-height: 1.0;
    margin: 5px;
}

#iconWeek img{
    width: 90%;
    height: 90%;
}

main .day-week{
    color: #33328A;
    font-weight: 700;
    font-size: 25px;
}

.month-dat{
    color: #22214A;
    font-weight: 300;
}

table, th, td {
    border: 1px solid #F4F7F7;
    padding: 10px 30px;
    background: #AACFD0;
}

div span{
    color: #1F4E5F;
    font-size: 20px;
}
