.login {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 20px;
  padding: 40px 60px 20px;
  background-color: #87cefa;
}
.login .login-field {
  margin: 30px 10px;
}
.login .login-button {
  padding: 5px 5px;
  margin-left: 60px;
}
.title-todo-list {
  background-color: #2f4f4f;
  height: 60px;
  color: #ffffff;
  text-align: center;
}
.edit-task-form {
  margin-left: 300px;
  margin-top: 30px;
}
.edit-task-form .task-todo-list {
  width: 60%;
}
.add-task {
  margin-left: 350px;
  margin-top: 10px;
}
